@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .section {
        display: flex;
        justify-content: center;
        width: 33.33%;
    }
}

@media (max-width: 991.98px) {

    .container {
        height: auto;
    }

    .wraper {
        flex-wrap: wrap;
        justify-self: start;
    }

    .section_fuagra, .section_fish {
        width: 50%;
    }

    .section_chicken {
        width: 100%;
    }

    .section {
        display: flex;
        margin-bottom: 40px;
        justify-content: center;
    }

    .header {
        margin-top: 40px;
    }
}

@media (max-width: 767.98px) {

    .section_fuagra, .section_fish {
        width: 100%;
    }

}


